USE [master]
GO
/****** Object:  Database [myDB]    Script Date: 6/2/2018 9:16:06 AM ******/
CREATE DATABASE [myDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'myDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\myDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'myDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\myDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [myDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [myDB]
GO
/****** Object:  StoredProcedure [dbo].[spAddCourse]    Script Date: 6/2/2018 9:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spAddCourse]         
(        
    @Name VARCHAR(20),        
    @City VARCHAR(20),        
    @Department VARCHAR(20),        
    @Gender VARCHAR(6) , 
	@CourseID VARCHAR(6),
	@StudentID VARCHAR(6)      
)        
as         
Begin         
    Insert into tblCourse (Name,City,Department, Gender,ID,StudentId)         
    Values (@Name,@City,@Department, @Gender,Convert(int,@CourseID),Convert(int,@StudentID))         
End  



GO
/****** Object:  StoredProcedure [dbo].[spAddStudent]    Script Date: 6/2/2018 9:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spAddStudent]         
(        
    @Name VARCHAR(20),         
    @City VARCHAR(20),        
    @Department VARCHAR(20),        
    @Gender VARCHAR(6) ,
	  @LastName VARCHAR(250) ,
	    @FatherName VARCHAR(250) ,
		  @MotherName VARCHAR(250), 
		    @ContactNo VARCHAR(10) ,
			  @Email VARCHAR(10)        
)        
as         
Begin         
    Insert into tblStudent (Name,City,Department, Gender,LastName,FatherName,MotherName,ContactNo,Email)         
    Values (@Name,@City,@Department, @Gender,@LastName,@FatherName,@MotherName,@ContactNo,@Email)         
End  


GO
/****** Object:  StoredProcedure [dbo].[spDeleteCourse]    Script Date: 6/2/2018 9:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[spDeleteCourse]       
(        
   @CrsId int        
)        
as         
begin        
   Delete from tblCourse where CourseId=@CrsId        
End



GO
/****** Object:  StoredProcedure [dbo].[spDeleteStudent]    Script Date: 6/2/2018 9:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spDeleteStudent]       
(        
   @StdId int        
)        
as         
begin        
   Delete from tblStudent where StudentId=@StdId        
End


GO
/****** Object:  StoredProcedure [dbo].[spGetAllCourseNames]    Script Date: 6/2/2018 9:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spGetAllCourseNames]      
as      
Begin      
    select *      
    from tblCourseNames  
    order by ID    
End  



GO
/****** Object:  StoredProcedure [dbo].[spGetAllCourses]    Script Date: 6/2/2018 9:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spGetAllCourses]      
as      
Begin      
    select *      
    from tblCourse   
    order by CourseId      
End  



GO
/****** Object:  StoredProcedure [dbo].[spGetAllStudents]    Script Date: 6/2/2018 9:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spGetAllStudents]      
as      
Begin      
    select *      
    from tblStudent   
    order by StudentId      
End  


GO
/****** Object:  StoredProcedure [dbo].[spUpdateCourse]    Script Date: 6/2/2018 9:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spUpdateCourse]        
(        
   @EmpId INTEGER ,      
   @Name VARCHAR(20),       
   @City VARCHAR(20),      
   @Department VARCHAR(20),      
   @Gender VARCHAR(6)      
)        
as        
begin        
   Update tblCourse         
   set Name=@Name,        
   City=@City,        
   Department=@Department,      
   Gender=@Gender        
   where CourseId=@EmpId        
End   



GO
/****** Object:  StoredProcedure [dbo].[spUpdateStudent]    Script Date: 6/2/2018 9:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spUpdateStudent]        
(        
   @StdId INTEGER ,      
   @Name VARCHAR(20),       
   @City VARCHAR(20),      
   @Department VARCHAR(20),      
   @Gender VARCHAR(6) ,
   	  @LastName VARCHAR(250) ,
	    @FatherName VARCHAR(250) ,
		  @MotherName VARCHAR(250), 
		    @ContactNo VARCHAR(10) ,
			  @Email VARCHAR(10)       
)        
as        
begin        
   Update tblStudent         
	set Name=@Name,        
	City=@City,        
	Department=@Department,      
	Gender=@Gender  ,      
	LastName = @LastName ,   
	FatherName=@FatherName ,      
	MotherName=@MotherName ,     
	ContactNo=@ContactNo  ,    
	Email =@Email       
   where StudentId=@StdId        
End   


GO
/****** Object:  Table [dbo].[tblCourse]    Script Date: 6/2/2018 9:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCourse](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[City] [varchar](20) NOT NULL,
	[Department] [varchar](20) NOT NULL,
	[Gender] [varchar](6) NOT NULL,
	[StudentId] [int] NULL,
	[ID] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblCourseNames]    Script Date: 6/2/2018 9:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCourseNames](
	[ID] [int] NOT NULL,
	[Code] [nchar](20) NULL,
	[Name] [nchar](250) NULL,
	[Credit] [nchar](10) NULL,
 CONSTRAINT [PK_tblCourseNames] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblStudent]    Script Date: 6/2/2018 9:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblStudent](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[City] [varchar](20) NOT NULL,
	[Department] [varchar](20) NOT NULL,
	[Gender] [varchar](6) NOT NULL,
	[LastName] [nchar](250) NULL,
	[FatherName] [nchar](250) NULL,
	[MotherName] [nchar](250) NULL,
	[ContactNo] [nchar](10) NULL,
	[Email] [nchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
