<h1>Student Data</h1>

<p *ngIf="!stdList"><em>Loading...</em></p>
<p>
    <a [routerLink]="['/register-student']">Create New</a>
</p>


  


<table class="table table-striped" [mfData]="stdList" #mf="mfDataTable">

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
            <th>Contact No</th>
            <th>Email</th>

            <th>Gender</th>
            <th>Father Name</th>
            <th>Mother Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let std of stdList">
            <td>{{ std.id }}</td>
            <td>{{ std.name }}</td>
            <td>{{ std.department }}</td>
            <td>{{ std.contactNo }}</td>
            <td>{{ std.email}}</td>
            <td>{{ std.gender }}</td>
            <td>{{ std.fatherName }}</td>

            <td>{{ std.motherName }}</td>
            <td>{{ std.city }}</td>
            <td>
            <td>
                <a [routerLink]="['/student/edit/', std.id]">Edit</a> |
                <a [routerLink]="" (click)="delete(std.id)">Delete</a>
            </td>
        </tr>
    </tbody>
  

</table>

<ul>
    <li style=" display: inline;
    text-decoration: none; ">
        <a [routerLink]="" (click)="Previous()"> <span class="badge">    Previous</span></a>

    </li>

    <li *ngFor="let k of pageList" style=" display: inline;
    text-decoration: none; ">
        <a [routerLink]="" (click)="SetPage(k.id)"> <span class="badge">     {{k.id}}</span></a>

    </li>
    <li style=" display: inline;
    text-decoration: none; ">
        <a [routerLink]="" (click)="Next()"> <span class="badge">    Next</span></a>

    </li>

</ul> 




