

<html>
<head>
    <style>
        .flex-container {
            display: flex;
            flex-wrap: nowrap;
            background-color: DodgerBlue;
            width: 500px;
        }

            .flex-container > div {
                background-color: #f1f1f1;
                width: 220px;
                margin: 10px;
                text-align: center;
                line-height: 100px;
                font-size: 20px;
            }
    </style>
</head>
<body>
    <h1>Student Management System</h1>

    <div class="flex-container">
        <div><a [routerLink]="['/home']">Home</a></div>
        <div><a [routerLink]="['/fetch-student']">All Students</a></div>

    </div>
    <div class="flex-container">
        <div> <a [routerLink]="['/register-student']">Create New</a></div>
        <div> <a [routerLink]="['/createcourse']">Assign Course</a></div>

    </div>
   

</body>
</html>